body {	/*the outer layer of the site and global style attributes*/
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0px;
background: #f7f5f2;
}




	

#narbartop {
	display: flex;
	justify-content: center;
	
}
.navbar-item {
	display: inline-block;
	z-index: 1;
    margin: 20;
    margin-left: 5%;
}


#content {
	margin: 30px;
    text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.picture {
	padding: 20px;
    position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: bottom;
}

.artist {
	position: absolute;
    left: 25%;
    top: 20%;
    transform: translateY(-50%);
}

.song {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
}



